.name-list{
    /* text-align: center;    */
    
}
.text-color{
    color: rgb(19, 19, 143);
}
.add-section{
    box-shadow: 2px 2px 8px 3px #b8e7e5;
   padding-top: 10px;
   margin-left: 10px;
   margin-top: 26px;
    width: 20em;
   height: 30em;
  
    
}
